@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
