name: preview

on:
  pull_request:
    paths:
      - 'apps/mobile/**'
      - '.github/workflows/preview-frontend.yml'
      - 'package.json'
      - 'pnpm-lock.yaml'
  workflow_dispatch:

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    environment:
      name: pr-${{ github.event.pull_request.number || github.run_id }}-preview-frontend
      url: ${{ steps.deploy.outputs.link }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
          packager: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create preview
        id: deploy
        uses: expo/expo-github-action/preview@v8
        with:
          command: eas update --branch=pr-${{ github.event.pull_request.number || github.run_id }} --message="Preview for ${{ github.event_name }}" --non-interactive
          working-directory: ./apps/mobile
          qr-target: expo-go
          github-token: ${{ github.token }}
